<footer>
  <section>
    <span class="section_title">Nossa localização <fa-icon [icon]="faMapLocationDot"></fa-icon></span>
    <address>
      Rua Fulano de Tal, N° 99, 99999-999<br />
      Bairro: Beltrano <br />
      Cidade: Cidade Tal <br />
      Pernambuco, Brasil <br />
    </address>
  </section>
  <section>
    <span class="section_title">História <fa-icon [icon]="faLandmark"></fa-icon></span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque distinctio repudiandae ullam corrupti dignissimos. Officiis molestiae eum repellendus eaque ad, quod reiciendis ipsam voluptas quibusdam soluta quia magnam harum.</p>
  </section>
  <section>
    <span class="section_title">Redes sociais <fa-icon [icon]="faSquareShareNodes"></fa-icon></span>
    <ul class="footer_socials">
      <li>
        <fa-icon [icon]="faInstagram"></fa-icon>
        <a href="https://instagram.com" target="_blank">@fipequery</a>
      </li>
      <li>
        <fa-icon [icon]="faFacebook"></fa-icon>
        <a href="https://facebook.com" target="_blank">@fipequery</a>
      </li>
      <li>
        <fa-icon [icon]="faWhatsapp"></fa-icon>
        <a href="https://web.whatsapp.com" target="_blank">+55 99999999999</a>
      </li>
    </ul>
  </section>
  <div>
    <p>Desenvolvido por <a href="https://www.linkedin.com/in/hfidelis/" target="_blank">Heitor Fidelis</a></p>
  </div>
</footer>
